[Unit]
Description=Run ProtonPi VPN watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=vpn-watchdog.service

[Install]
WantedBy=timers.target
